* {
    margin: 0;
    box-sizing: border-box;



}




/* 1 logo y titulo  */
/* centra el contenido de la pantalla */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FEF9E1;


}

/* centra el logo y el titulo */
.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.img-logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: 4rem;
}

.titulo{
    font-family: "Julee", "cursive";
    font-size: 2rem;
    color:#C14600;
    text-align: center;
    margin-top: -15%;
    position: relative;
    z-index: 1;
    
    
}

.btn-enlace{
    margin: 2rem;
    border: none;
    
}

.btn-inicio{
    border: none;
    border-radius: 12px;
    background-color:#C14600;
    width:7rem;
    height: 3rem;
    text-align: center;
    color: white;
    font-family: "Julee", "cursive";
    font-size: 2rem;

    

}


/* Estilos de la pantalla de los ingredientes */
